In [61]:
%matplotlib inline
import pandas as pd

In [62]:
titles = pd.read_csv('titles.csv')
titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

### How many movies are listed in the titles dataframe?

In [63]:
titles["year"].shape[0]

244914

### What are the earliest two films listed in the titles dataframe?

In [247]:
a=titles["year"].sort_values().head()
a

193222    1894
51388     1898
4584      1899
219198    1900
47548     1900
Name: year, dtype: int64

### How many movies have the title "Hamlet"?

In [248]:
titles[titles.title=="Hamlet"].shape[0]

20

### How many movies are titled "North by Northwest"?

In [249]:
titles[titles.title=="North by Northwest"].shape[0]

1

### When was the first movie titled "Hamlet" made?

In [250]:
titles[titles.title=="Hamlet"].sort_values('year').head(1)

        title  year
52521  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [251]:
titles[titles.title=='Treasure Island'].sort_values('year')

                  title  year
55686   Treasure Island  1918
196514  Treasure Island  1920
141822  Treasure Island  1934
77354   Treasure Island  1950
65051   Treasure Island  1972
37238   Treasure Island  1973
173051  Treasure Island  1985
27076   Treasure Island  1999

### How many movies were made in the year 1950?

In [253]:
a=titles[titles.year == 1950].count()
a

title    1113
year     1113
dtype: int64

### How many movies were made in the year 1960?

In [256]:
a=titles[titles.year == 1960].count()
a

title    1549
year     1549
dtype: int64

### How many movies were made from 1950 through 1959?

In [257]:
titles["year"].between(1950,1959).count()

244914

### In what years has a movie titled "Batman" been released?

In [258]:
titles[titles.title == 'Batman']

         title  year
39349   Batman  1943
240896  Batman  1989

In [66]:
cast=pd.read_csv('cast_1.csv')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many roles were there in the movie "Inception"?

In [67]:
len(cast[cast.title == 'Inception'])

38

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [120]:
v=cast[cast.title == 'Inception']
u=v.iloc[:, 2]
u

98153         Michael (III) August
149008                Peter Basham
183937                Tom Berenger
197877                    Ken Bhan
260128              Virgile Bramly
326745               Michael Caine
333415                Earl Cameron
374661               John Ceallach
433867               Nicolas Clerc
444385              Adam (IV) Cole
497161                Garvin Cross
517227          Jean-Michel Dagory
590576           Leonardo DiCaprio
684098               Seve Esposito
690634         Marcus (II) Everett
707642     Zachary Christopher Fay
709436                   Russ Fega
737322            Mark Fleischmann
807795              Michael Gaston
812135             Johnathan Geare
832083               Carl Gilliard
833376                 Jack Gilroy
836295           Daniel Girondeaud
859993        Joseph Gordon-Levitt
910757                  Lukas Haas
940923                   Tom Hardy
967176                Ryan Hayward
1006636            Andrew Hoagland
1095095            Charles Jarrell
1108755              Seong-hwan Jo
1120184            Alonzo F. Jones
1170785               Tim Kelleher
1189066                 Mobin Khan
1248176              Shunsaku Kud?
1296268           John (IX) Lawson
1309851                 Tai-Li Lee
1312335      Jean-Christophe Leger
1455534            Tohoru Masamune
Name: name, dtype: object

### But how many roles in the movie "Inception" did receive an "n" value?

In [125]:
v=cast[cast.title == 'Inception'] 
v

             title  year  ...                  character     n
98153    Inception  2010  ...              LAX Passenger   NaN
149008   Inception  2010  ...      Fischer's Jet Captain  44.0
183937   Inception  2010  ...                   Browning   8.0
197877   Inception  2010  ...           Mombasan Gambler   NaN
260128   Inception  2010  ...             Bridge Sub Con  29.0
326745   Inception  2010  ...                      Miles  11.0
333415   Inception  2010  ...           Elderly Bald Man  20.0
374661   Inception  2010  ...              LAX Passenger   NaN
433867   Inception  2010  ...             Bridge Sub Con  26.0
444385   Inception  2010  ...                Bar Sub Con  34.0
497161   Inception  2010  ...             Snow Commander   NaN
517227   Inception  2010  ...             Bridge Sub Con  30.0
590576   Inception  2010  ...                       Cobb   1.0
684098   Inception  2010  ...            Italian Gambler   NaN
690634   Inception  2010  ...               Stock Broker   NaN
707642   Inception  2010  ...                      Extra   NaN
709436   Inception  2010  ...                 Cab Driver  23.0
737322   Inception  2010  ...            Penrose Sub Con  32.0
807795   Inception  2010  ...        Immigration Officer  45.0
812135   Inception  2010  ...            James (3 years)  17.0
832083   Inception  2010  ...              Lobby Sub Con  40.0
833376   Inception  2010  ...                   Old Cobb  50.0
836295   Inception  2010  ...             Bridge Sub Con   NaN
859993   Inception  2010  ...                     Arthur   2.0
910757   Inception  2010  ...                       Nash  12.0
940923   Inception  2010  ...                      Eames   4.0
967176   Inception  2010  ...                     Lawyer  21.0
1006636  Inception  2010  ...                 Pedestrian   NaN
1095095  Inception  2010  ...                Hotel Guest   NaN
1108755  Inception  2010  ...      Japanese Landing Crew   NaN
1120184  Inception  2010  ...      Mombasan Casino Staff   NaN
1170785  Inception  2010  ...                   Thin Man  24.0
1189066  Inception  2010  ...     Mombasa Casino Cashier   NaN
1248176  Inception  2010  ...  Saito's Bodyguard Officer   NaN
1296268  Inception  2010  ...              Street Person   NaN
1309851  Inception  2010  ...                    Tadashi  13.0
1312335  Inception  2010  ...             French Student   NaN
1455534  Inception  2010  ...    Japanese Security Guard  18.0

[38 rows x 6 columns]

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [100]:
value=cast[cast.title == 'North by Northwest']
value.iloc[:, 2]

12668           Stanley Adams
29122              Andy Albin
56389            Don Anderson
56610         Ernest Anderson
95950       Malcolm Atterbury
101764              Tol Avery
113558             Sam Bagley
119104            Frank Baker
124956              Alex Ball
143362          Baynes Barron
157984          Brandon Beach
183104          John Beradino
206471           Edward Binns
231150        Stephen Bolster
356707         Leo G. Carroll
357237       Steve Carruthers
363413          Taggart Casey
370213          Bill Catching
440718           Bob (II) Coe
464736        Philip Coolidge
485168           David A. Cox
486194             Walter Coy
497282            Jimmy Cross
521452              Jack Daly
522475            John Damler
603172        Lawrence Dobkin
662870            Daniel Elam
665768      Robert Ellenstein
704461          Tommy Farrell
707790        Adolph Faylauer
815510             Paul Genge
838574              Ned Glass
852274         James Gonzalez
871426             Cary Grant
881227           Tom Greenway
917621          Robert Haines
924065            Stuart Hall
978962             Len Hendry
1004782      Alfred Hitchcock
1018594         Stuart Holmes
1064123         Hideo Inamura
1079550        Eugene Jackson
1112135         Bobby Johnson
1118427        Dick Johnstone
1146961              Sid Kane
1175937        Kenner G. Kemp
1180121           Colin Kenny
1275337         Martin Landau
1326121        Larry Leverett
1327241      Carl M. Leviness
1354270    Alexander Lockwood
1384780             Ken Lynch
1438481         Frank Marlowe
1443633    Tom (III) Marshall
1448786         Thomas Martin
1457165           James Mason
1477780       James McCallion
1508344         Patrick McVey
1547433       Carl Milletaire
1563494           Hans Moebus
Name: name, dtype: object

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [138]:
cast[(cast.title == 'Sleuth') & (cast.year == 1972)].sort_values('n')

          title  year  ...                   character    n
326773   Sleuth  1972  ...                 Milo Tindle  2.0
373876   Sleuth  1972  ...           Inspector Doppler  3.0
1465483  Sleuth  1972  ...  Detective Sergeant Tarrant  4.0
1448690  Sleuth  1972  ...      Police Constable Higgs  6.0

[4 rows x 6 columns]

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [137]:
cast[(cast.title == 'Sleuth') & (cast.year == 2007)].sort_values('n')

          title  year                 name   type          character    n
326774   Sleuth  2007        Michael Caine  actor             Andrew  1.0
1293634  Sleuth  2007             Jude Law  actor               Milo  2.0
260242   Sleuth  2007      Kenneth Branagh  actor  Other Man on T.V.  NaN
373877   Sleuth  2007  Alec (II) Cawthorne  actor  Inspector Doppler  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [259]:
role=cast[(cast.title == 'Hamlet') & (cast.year == 1921)]
role

          title  year              name   type     character    n
7789     Hamlet  1921  Fritz Achterberg  actor   Fortinbras,  9.0
458904   Hamlet  1921      Paul Conradi  actor  K?nig Hamlet  2.0
555034   Hamlet  1921  Anton De Verdier  actor       Laertes  7.0
1135279  Hamlet  1921   Hans Junkermann  actor      Polonius  6.0

In [260]:
role=role.iloc[:, 4]
len(role)

4

### How many roles were credited in Branaghs 1996 Hamlet?

In [208]:
role=cast[(cast.title == 'Hamlet') & (cast.year == 1996) & (cast.n > 1)]
role

          title  year  ...                 character     n
95861    Hamlet  1996  ...        English Ambassador   2.0
158642   Hamlet  1996  ...        Second Gravedigger  37.0
214473   Hamlet  1996  ...     Attendant to Claudius   3.0
219554   Hamlet  1996  ...  Ghost of Hamlet's Father   4.0
260225   Hamlet  1996  ...                    Hamlet   5.0
272749   Hamlet  1996  ...                  Polonius   6.0
294652   Hamlet  1996  ...                    Priest   7.0
319501   Hamlet  1996  ...     Attendant to Claudius   8.0
500916   Hamlet  1996  ...         First Gravedigger  10.0
518572   Hamlet  1996  ...             Stage Manager  11.0
576147   Hamlet  1996  ...                  Reynaldo  13.0
598618   Hamlet  1996  ...              Guildenstern  14.0
604339   Hamlet  1996  ...                    Yorick  15.0
656817   Hamlet  1996  ...                  Lucianus  17.0
704270   Hamlet  1996  ...                   Horatio  18.0
708468   Hamlet  1996  ...                 Francisco  19.0
827066   Hamlet  1996  ...                     Priam  21.0
990819   Hamlet  1996  ...               Player King  23.0
1074691  Hamlet  1996  ...                 Cornelius  24.0
1082161  Hamlet  1996  ...                  Claudius  25.0
1210509  Hamlet  1996  ...      Fortinbras's Captain  27.0
1316617  Hamlet  1996  ...                 Marcellus  29.0
1417360  Hamlet  1996  ...                   Laertes  31.0
1489191  Hamlet  1996  ...                  Barnardo  30.0
1549128  Hamlet  1996  ...                Old Norway  33.0
1556082  Hamlet  1996  ...                Sailor Two  34.0

[26 rows x 6 columns]

In [205]:
role=role.iloc[:, 4]
len(role)

31

### How many "Hamlet" roles have been listed in all film credits through history?

In [170]:
len(cast[cast.title == 'Hamlet'])

164

### How many people have played an "Ophelia"?

In [210]:
role=cast[cast.title == 'Ophelia']
role

           title  year                name   type    character   n
236138   Ophelia  2018               Booda  actor       Priest NaN
511969   Ophelia  2018        Noel Czuczor  actor  Rosencrantz NaN
554488   Ophelia  2018  Sebastian De Souza  actor       Edmund NaN
712347   Ophelia  2018          Tom Felton  actor      Laertes NaN
1397092  Ophelia  2018       George MacKay  actor       Hamlet NaN
1403661  Ophelia  2018      Dominic Mafham  actor     Polonius NaN

In [211]:
role=role.iloc[:, 4]
len(role)

6

### How many people have played a role called "The Dude"?

In [185]:
char=cast[cast.character == 'The Dude']
char

                                  title  year  ... character     n
272161                 The Big Lebowski  1998  ...  The Dude   1.0
339389               Terms & Conditions  2015  ...  The Dude   9.0
498660                         Stranger  2000  ...  The Dude   NaN
570128           Pizza Man vs. the Dude  2004  ...  The Dude   NaN
610791                      Sweepstakes  1931  ...  The Dude  12.0
629473                    Self Helpless  2010  ...  The Dude   NaN
855976                A Few Brains More  2012  ...  The Dude   NaN
1089444  Jay and Silent Bob Strike Back  2001  ...  The Dude  37.0
1138933                   Explicit Ills  2008  ...  The Dude  27.0
1367230                 American Idiots  2013  ...  The Dude  10.0
1386561             The Winds of Autumn  1976  ...  The Dude  30.0
1512572                         The Liq  2016  ...  The Dude   NaN
1540933                  Wild Oats Lane  1926  ...  The Dude   6.0

[13 rows x 6 columns]

In [186]:
char=char.iloc[:, 4]
len(char)

13

### How many people have played a role called "The Stranger"?

In [187]:
char=cast[cast.character == 'The Stranger']
char

                            title  year  ...     character     n
25954                       Theeb  2014  ...  The Stranger   2.0
35748              My Time to Die  2014  ...  The Stranger   2.0
46418                      Hickok  2017  ...  The Stranger   NaN
67421                    Get Mean  1975  ...  The Stranger   1.0
67424    Lo straniero di silenzio  1968  ...  The Stranger   1.0
...                           ...   ...  ...           ...   ...
1458044                      uk18  2017  ...  The Stranger  21.0
1492101             A Gothic Tale  2008  ...  The Stranger   4.0
1493351         The Bethany Witch  2012  ...  The Stranger   NaN
1505567        Campbell's Kingdom  1957  ...  The Stranger   NaN
1541204         Se sei vivo spara  1967  ...  The Stranger   1.0

[121 rows x 6 columns]

In [188]:
char=char.iloc[:, 4]
len(char)

121

### How many roles has Sidney Poitier played throughout his career?

In [189]:
char=cast[cast.character == 'Sidney Poitier']
char

                      title  year           name   type       character   n
359366  Brando Unauthorized  2011  Keenan Carter  actor  Sidney Poitier NaN

In [190]:
char=char.iloc[:, 4]
len(char)

1

### How many roles has Judi Dench played?

In [194]:
char=cast[cast.character == 'Judi Dench']
char

Empty DataFrame
Columns: [title, year, name, type, character, n]
Index: []

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [214]:
cast[(cast.name == 'Cary Grant') & (cast.year == 1940) &  (cast.n == 2)]

                   title  year        name   type   character    n
871423  My Favorite Wife  1940  Cary Grant  actor  Nick Arden  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [215]:
cast[(cast.name == 'Cary Grant') & (cast.year == 1940)]

                          title  year  ...           character    n
871407          His Girl Friday  1940  ...        Walter Burns  1.0
871423         My Favorite Wife  1940  ...          Nick Arden  2.0
871448  The Howards of Virginia  1940  ...         Matt Howard  1.0
871450   The Philadelphia Story  1940  ...  C. K. Dexter Haven  1.0

[4 rows x 6 columns]

### How many roles were available for actors in the 1950s?

In [224]:
role=cast[cast.year == 1950]
role

                             title  year  ...                 character     n
288               Palletoori Pilla  1950  ...             Kampanna Dora   4.0
465                   Hallin Janne  1950  ...                     Rosvo   NaN
466                   Hallin Janne  1950  ...                   Vartija   NaN
1564     Bomba and the Hidden City  1950  ...                  Villager   NaN
1572     Fortunes of Captain Blood  1950  ...               Crew Member   NaN
...                            ...   ...  ...                       ...   ...
1563712          The Cariboo Trail  1950  ...              Stage Driver  19.0
1563718    The Flame and the Arrow  1950  ...                     Guard   NaN
1564048            The Second Mate  1950  ...                     Paddy   2.0
1564136                Let's Dance  1950  ...  Richard 'Richie' Everett   6.0
1564138               Saddle Tramp  1950  ...                     Butch  11.0

[10451 rows x 6 columns]

In [225]:
role=len(role.name)
role

10451

### How many roles were available for actresses in the 1950s?

In [234]:
role=cast[(cast.year == 1950) & (cast.type == 'actresses')]
role

Empty DataFrame
Columns: [title, year, name, type, character, n]
Index: []

In [235]:
role=len(role.type)
role

0

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [237]:
role=cast[(cast.year == 1980) & (cast.n == 1)]
role

                           title  year  ...       character    n
1293               Il pap'occhio  1980  ...  Padre Gabriele  1.0
1452     Athkiya' laken aghbiya'  1980  ...           Hamdi  1.0
2543           El Banat Ayza Eih  1980  ...           Kamal  1.0
2558       X Ma'anah Alamt Khata  1980  ...           Ramzy  1.0
2971                   Airplane!  1980  ...   Roger Murdock  1.0
...                          ...   ...  ...             ...  ...
1559346                  Monster  1980  ...          Travis  1.0
1559442                   Agency  1980  ...       Ted Quinn  1.0
1559779        Bancharamer Bagan  1980  ...       Bancharam  1.0
1561944          Ktor me yerkinq  1980  ...     Grigor-agha  1.0
1563974            On the Nickel  1980  ...             Sam  1.0

[519 rows x 6 columns]

### How many non-leading roles were available through from the beginning of film history through 1980?

In [246]:
role=cast[(cast.year == 1980) & (cast.n > 1)]
role

                                 title  ...     n
197      Cheech and Chong's Next Movie  ...  33.0
459                       Aurinkotuuli  ...  12.0
641                        Raging Bull  ...  86.0
1264                  Arrivano i gatti  ...  10.0
1278             Fantozzi contro tutti  ...   9.0
...                                ...  ...   ...
1564931                        Qurbani  ...  12.0
1564947                         Sitara  ...   7.0
1564951                         Takkar  ...  10.0
1565090                       Lootmaar  ...  15.0
1565358         Manjil Virinja Pookkal  ...   3.0

[7479 rows x 6 columns]

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [245]:
role=cast[(cast.year == 1980) & (cast.n > 0)]
role

                                 title  ...     n
197      Cheech and Chong's Next Movie  ...  33.0
459                       Aurinkotuuli  ...  12.0
641                        Raging Bull  ...  86.0
1264                  Arrivano i gatti  ...  10.0
1278             Fantozzi contro tutti  ...   9.0
...                                ...  ...   ...
1564931                        Qurbani  ...  12.0
1564947                         Sitara  ...   7.0
1564951                         Takkar  ...  10.0
1565090                       Lootmaar  ...  15.0
1565358         Manjil Virinja Pookkal  ...   3.0

[7998 rows x 6 columns]